<div class="flex gap-3 align-items-start">
  <aside class="filter element-border">
    <label>
      <span>Sort By</span>
      <p-select [options]="sortOptions"></p-select>
    </label>
    <label>
      <span>Price</span>
      <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="w-56" />
    </label>
    <label>
      <span>Stops</span>
      @for(stop of stopOptions; track stop.value) {
      <div class="flex gap-2 align-items-center">
        <p-checkbox [name]="stop.value" value="Small" />
        <label>{{ stop.label }}</label>
      </div>
      }
    </label>
  </aside>
  <div class="list">
    <ul class="flex flex-column gap-4">
      <app-flight-card />
      <app-flight-card />
      <app-flight-card />
      <app-flight-card />
      <app-flight-card />
    </ul>
    <p-button severity="secondary" variant="outlined" label="Load More" [fluid]="true" [size]="'large'"></p-button>
  </div>
</div>
